@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  max-height: 100dvh;
  max-width: 100dvw;
  overflow: hidden;
  background-color: rgb(17, 17, 17);
  font-family: 'Space Grotesk', serif;
  font-weight: 300;
}

.App {
  height: 100dvh;
  width: 100dvw;
  font-size: 1.2rem;
  background-color: rgb(17 17 17);
  color: white
}

.logo{
  height: 10dvh;
  border-radius: 90px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3dvh 5dvw;
}

.NavLink {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 0 10px;
  margin-right: 20px;
}

.NavLink::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scale(0);
  transform-origin: center;
  transition: transform 300ms;
}

.NavLink:hover::after {
  transform: scale(1);
}

.NavLink.active::after {
  transform: scale(1);
}

.app-content{
  display: flex;
  padding-top: 10dvh;
  justify-content: center;
}

.site{
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: calc(100dvh - 36dvh);
  scrollbar-width: thin;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100dvw;
  opacity: 1;
  animation: fadeAndSlideUp 0.7s ease-out;
}

.home{
  width: 50%;
}

.posts{
  width: 60%;
  max-height: 100%;
}

@keyframes fadeAndSlideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title{
    font-size: 2.2rem;
    font-weight: bold;
}

.subtitle{
  font-size: 1.6rem;
  color: #a8a8a8;
}

.corrupted{
  font-size: calc(1.2rem + 2px);
  color: transparent;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

.text{
  padding-top: 10px;
  color: #707070;
}

#projects{
  padding-top: 30px;
  font-size: 1.6rem;
  padding-bottom: 20px;
}

.projectList{
  display: flex;
  justify-content: space-between;
  height: 30dvh;
}

.project-box{
  width: calc(40dvw / 3);
  background-color: rgb(17 17 17);
  height: calc(100% - 10px);
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  overflow: hidden;
}

.project-bg:hover{
  transform: scale(1.05);
  transition: 200ms;
}

.project-bg{
  padding: 0.3rem;
  margin-right: 30px;
  border-radius: 13px;
  text-decoration: none;
  color: #707070;
}

.bg1{
  background-image: linear-gradient(to right, #a5b4fc, #c084fc);
}

.bg2{
  background-image: linear-gradient(to right, #f9a8d4, #818cf8);
}

.bg3{
  background-image: linear-gradient(to right, #84aafc, #9333ea);
}

b {
  font-weight: 700;
}

.project-title{
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
}

.project-desc{
  padding-top: 5px;
  color: #a8a8a8;
}

.read-more{
  text-decoration: none;
  transition: color 300ms;
}

.read-more:hover{
  color: white;
}

.hidden{
  display: none;
}

.postListItem{
  background-color: #171717FF;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.postListItem:hover{
  transition: 200ms;
  transform: scale(1.05);
}

.postListTitle{
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
}

.postListDesc{
  padding-top: 5px;
  color: #a8a8a8;
}

.decorationNone{
  text-decoration: none;
}

.about{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.education{
  width: 50%;
  padding: 0 5dvw 0 5dvw;
  border-right: #707070 1px solid;
}

.contact{
  width: 50%;
  padding: 0 5dvw 0 5dvw;
}

.contactIcon svg {
  height: 2rem;
  width: 2rem;
}

.contactTitle{
  font-size: 2.2rem;
}

.educationTitle{
  font-size: 2.2rem;
  padding-bottom: 4dvh;
}

.educationTimeline{
  position: relative;
  margin: 0 auto;
}

.educationTimelineScroll{
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #a8a8a8 #111111;
  scroll-behavior: smooth;
  max-height: 55dvh;
}

.educationTimeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #707070;
  top: 0;
  bottom: 0;
  left: 31px;
  margin-left: -3px;
  border-radius: 20px;
}

.educationTimelineContainer {
  position: relative;
  background-color: inherit;
  width: 90%;
  padding-left: 70px;
  padding-right: 25px;
  padding-bottom: 8dvh;
}

.educationTimelineContainer::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -20px;
  background-color: #707070;
  top: 16px;
  border-radius: 50%;
  z-index: 1;
  left: 22px;
}

.educationTimelineTitle{
  font-size: 1.5rem;
}

.educationTimelineSubtitle{
  font-size: 1.2rem;
  color: #707070;
}

.contactIcon{
  color: white;
}

.contactContent{
  margin-top: 4dvh;
}

.contactLink{
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.contactLink:hover{
  color: lightgray;
}

.contactIcon{
  padding-right: 20px;
}

.burger {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 810px) {

  .App {
    font-size: 1.2rem;
    height: 100%;
  }

  .home {
    width: 85%;
  }

  .posts {
    width: 85%;
  }

  .about {
    flex-direction: column-reverse;
  }

  .app-content{
    padding-top: 10px;
  }

  .title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 1.4rem;
  }

  .corrupted {
    font-size: calc(1.2rem + 2px);
  }

  #projects{
    font-size: 1.4rem;
  }

  .project-title{
    font-size: 1.4rem;
  }

  .projectList {
    flex-direction: column;
    height: 100%;
  }

  .project-bg {
    height: 200px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .project-box {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
  }

  .site {
    align-items: flex-start;
    max-height: calc(100dvh - 24dvh);
  }

  .read-more {
    padding-bottom: 40px;
  }

  .contact {
    width: 90%;
  }

  .contactTitle {
    font-size: 1.8rem;
  }

  .contactIconText {
    display: none;
  }

  .contactIcon svg  {
    height: 3rem;
    width: 3rem;
  }

  .contactContent {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .educationTitle {
    font-size: 1.8rem;
  }

  .education {
    width: 90%;
    padding: 0 5dvw 0 5dvw;
    border-right: none;
  }

  .educationTimelineScroll {
    overflow: hidden;
    max-height: 100%;
    padding-bottom: 40px;
  }

  .educationTimelineContainer {
    padding-left: 50px;
    padding-right: 25px;
    padding-bottom: 8dvh;
    width: 80%;
  }

  .educationTimelineTitle {
    font-size: 1.4rem;
  }

  .burger {
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

   .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: whitesmoke;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  .burger span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .burger span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .burger span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .burger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top:  3px;
    left: 4px;
  }

  .burger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  .burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 27px;
    left: 4px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: calc(3dvh + 10dvh);
    height: calc(100% - 3dvh - 10dvh);
    right: 0;
    background-color: rgb(17, 17, 17);
    width: 100dvw;
    text-align: right;
    padding-right: 20px;
    z-index: 2;
    transition: transform 0.4s ease-in-out;
    transform: translateX(100%);
  }

  .nav.open {
    transform: translateX(0);
  }

  .NavLink {
    font-size: 1.8rem;
    margin-right: 0;
    margin-bottom: 20px;
    transition: font-size 300ms, font-weight 300ms;
  }

  .NavLink.active::after {
    transform: scale(0);
  }

  .NavLink:hover::after {
    transform: scale(0);
  }

  .NavLink.active {
    font-size: 2rem;
    font-weight: bold;
  }
}

/* Tablets (landscape mode) */
@media only screen and (min-width: 811px) and (max-width: 1080px) {
  .App {
    font-size: 1.2rem;
    height: 100%;
  }

  .app-content{
    padding-top: 10px;
  }

  .home {
    width: 85%;
  }

  .posts {
    width: 85%;
  }

  .about {
    flex-direction: column-reverse;
  }

  .title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 1.4rem;
  }

  .corrupted {
    font-size: calc(1.2rem + 2px);
  }

  #projects{
    font-size: 1.4rem;
  }

  .project-title{
    font-size: 1.4rem;
  }

  .projectList {
    height: 100%;
  }

  .project-bg {
    width: calc(100% / 3);
  }

  .project-box {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
  }

  .site {
    align-items: flex-start;
    max-height: calc(100dvh - 30dvh);
  }

  .read-more {
    padding-bottom: 40px;
  }

  .contact {
    width: 90%;
  }

  .contactTitle {
    font-size: 1.8rem;
  }

  .contactIconText {
    display: none;
  }

  .contactIcon svg  {
    height: 3rem;
    width: 3rem;
  }

  .contactContent {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .educationTitle {
    font-size: 1.8rem;
  }

  .education {
    width: 90%;
    padding: 0 5dvw 0 5dvw;
    border-right: none;
  }

  .educationTimelineScroll {
    overflow: hidden;
    max-height: 100%;
    padding-bottom: 40px;
  }

  .educationTimelineContainer {
    display: flex;
    padding-left: 50px;
    padding-right: 25px;
    padding-bottom: 8dvh;
    width: 80%;
  }

  .educationTimelineTitle {
    font-size: 1.4rem;
  }

  .burger {
    display: block;
  }

  .nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: calc(3dvh + 10dvh);
    height: calc(100% - 3dvh - 10dvh);
    right: 0;
    background-color: rgb(17, 17, 17);
    width: 100dvw;
    text-align: right;
    padding-right: 20px;
    z-index: 2;
    transition: transform 0.4s ease-in-out;
    transform: translateX(100%);
  }

  .nav.open {
    transform: translateX(0);
  }

  .NavLink {
    font-size: 1.8rem;
    margin-right: 0;
    margin-bottom: 20px;
    transition: font-size 300ms, font-weight 300ms;
  }

  .NavLink.active::after {
    transform: scale(0);
  }

  .NavLink:hover::after {
    transform: scale(0);
  }

  .NavLink.active {
    font-size: 2rem;
    font-weight: bold;
  }
}


